@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    background-color: #f14807;
    background-image: url(../images/background-adare-restaurant.jpg);
    background-size: cover;
    background-position: center;
}

/* --- Container --- */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

/* --- Header --- */
.container .header {
    text-align: center;
    height: 20vh;
}

/* --- img logo --- */
.container .header .img-container {
    height: 20vh;
}

.container .header .img-container .img-logo {
    height: 12vh;
}

/* --- Navigation --- */
.container .header .navbar {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin: 0 auto;
}

.container .header .navbar .nav-item {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s ease;
}

.container .header .navbar .nav-item:hover {
    color: #f14807;
    font-size: 1.6em;
    text-decoration: underline;
    transition: 0.5s;
}

/* --- Main Container --- */
.container .main-container {
    margin-top: 10vh;
    text-align: center;
}

.container .main-container .main-content {
    color: white;
    padding: 4rem;
}

.container .main-container .main-content h1 {
    font-family: "Rubik", sans-serif;
    font-size: 5em;
    transition: 0.3s;
}

.container .main-container .main-content h1:hover {
    text-shadow: 0.05em 0.05em #f14807;
    transition: 0.3s;
}

.container .main-container .main-content p {
    color: rgb(187, 182, 182);
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
}

.container .main-container .main-content p strong a {
    color: white;
    text-decoration: none;
    text-shadow: 0.08em 0.08em #f14807;
}

/* --- footer --- */
.container .footer {
    text-align: center;
    color: white;
}

.container .footer h4 {
    font-size: 1.1em;
}